@import '../../assets/styles/style.scss';
.modal {
  &Background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 53, 63, 0.2);
    z-index: 99;
  }
  &Window{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    background: #FBFBFB;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 57px;
  }
  &Title{
    @extend .rubik-700;
    font-size: 24px;
    margin: 0;
  }
  &Group{
    &Modal{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    &Input{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
  &Input{
    position: relative;

    &Pole{
      border: 1px solid #EAEAEA;
      border-radius: 10px;
      padding-left: 10px;
      height: 40px;
      width: 100%;
    }

    &Error{
      @extend .rubik-400;
      color: #FC0D1C;
      font-size: 12px;
    }

    &Eye{
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }

  &Desc{
    @extend .rubik-400;
    color: #5e5e5e;
    text-align: center;
    margin-top: 0;
  }

  &MainButton{
    @extend .rubik-400;
    background: #FC0D1C;
    border-radius: 32px;
    border: 0;
    padding: 10px;
    text-align: center;
    width: 250px;
    font-size: 18px;
    color: #FFF;
  }
}